html {
  height: 1vh;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.Input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Input label {
  font-weight: bolder;
}

.Input input {
  width: 90%;
  background-color: rgba(255, 255, 255, 0.3);
  border: 0;
}

.Input input:placeholder-shown {
  font-style: italic;
}

.Input textarea {
  width: 90%;
  background-color: rgba(255, 255, 255, 0.3);
  border: 0;
}

.Input textarea:placeholder-shown {
  font-style: italic;
}

.Input input:focus {
  background-color: white;
}

.Input textarea:focus {
  background-color: white;
}

.Buttons {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: 1rem;
}
